{% extends "base.html" %}
{% block content %}
  <header class="site-header">
    <h1 class="site-header__title">{{ site.title }}</h1>
  </header>
  <ul class="album-grid" role="list">
    {% for album in albums %}
    <li class="album-grid__item">
      <a class="album-card" href="albums/{{ album.slug }}/">
        {% if album.cover %}
        {% set thumb = album.cover.variants.thumb %}
        <picture>
          <source srcset="albums/{{ album.slug }}/{{ thumb.sources.avif }}" type="image/avif">
          <source srcset="albums/{{ album.slug }}/{{ thumb.sources.webp }}" type="image/webp">
          <img class="album-card__image" src="albums/{{ album.slug }}/{{ thumb.sources.jpeg }}"
               alt="{{ album.title }}" loading="lazy"
               width="{{ thumb.width }}" height="{{ thumb.height }}">
        </picture>
        {% endif %}
        <span class="album-card__title">{{ album.title }}</span>
        {% if album.date %}<time class="album-card__date" datetime="{{ album.date }}">{{ album.date }}</time>{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
